<input type="text" class="form-control shadow-none suggestsearch-input" name="q" autocomplete="off" placeholder="Search in TYPO3 documentation" id="searchinput-suggest"
       value="{% if query is defined %}{{ query }}{% endif %}">

{% if demand.filters is not empty %}
    <div class="suggest-badges">
        {% for key,filter in demand.filters %}
            {% if filter is iterable %}
                {% for singleFilter in filter %}
                    <span class="suggest-badge"><span class="badge bg-secondary">{{ getLabelForFilter(key) }}</span><span class="badge bg-primary text-decoration-none">{{ singleFilter }}<a class="suggest-remove" href="{{ generateLinkWithout(demand, key, singleFilter, false) }}"></a></span>
                </span>
                {% endfor %}
            {% else %}
                <span class="suggest-badge"><span class="badge bg-secondary">{{ getLabelForFilter(key) }}</span><span class="badge bg-primary text-decoration-none">{{ filter }}<a href="{{ generateLinkWithout(demand, key, filter, false) }}" class="suggest-remove"></a></span></span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
